<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="folder_path" value="D:\NowPlaying"/>
		<add key="file_path" value="NowPlaying.txt"/>

		<add key="sql_server" value=""/>
		<add key="sql_database" value=""/>
		<add key="sql_username" value=""/>
		<add key="sql_password" value=""/>

		<add key="enablePlayLog" value="0"/>
		<add key="enablePlayCount" value="0"/>
		<add key="enableDailySpins" value="0"/>
		<add key="enableAritstCount" value="0"/>
	</appSettings>

</configuration>
